/*

My Custom CSS
=============

Author:  Suriya
Updated: December 2015

1.Layout
2.Tyoography
3.NavBar
4.Carousel
5.Global Styles
6.Media Queries

*/


/* --------------------------------------
   1.Layout
   -------------------------------------- */
#features {
	 	text-align: justify;
		margin-top: 20px;
	}

#features img {
  margin: 0 0 20px;
  border-radius: 10px;
  border: 1px solid black;
}

#features{
  text-align: center;
  }

#insights,#store{
  padding-right: 0px;
	padding-left: 0px;
}

footer {
	background-color: #c0c0c0;
	padding: 20px;
	margin-top: 20px;
  font-size: 13px;
}

.portfolio_padding{
	padding-top: 60px;
}

footer a{
	color: black;
}
/* --------------------------------------
  End of layout
   -------------------------------------- */

/* --------------------------------------
  2.Typography
   -------------------------------------- */

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

.well .page-header {
	margin-top: 0;
}

.well .page-header h1 {
	margin-top: 0;
}

#aboutcontent{
	font-size: 16px;
	text-align: justify;
}

ul.unstyled {
	list-style: none;
	padding: 0;
}

footer h6{
  font-size: 16px;
}
/* --------------------------------------
  End of Typography
   -------------------------------------- */

/* --------------------------------------
   3.Navbar
   -------------------------------------- */

.navbar-brand {
	padding: 0px;
	padding-top: 5px;
}
/* --------------------------------------
 End of Navar
   -------------------------------------- */


/* --------------------------------------
   4.Carousel
   -------------------------------------- */

#myCarousel {
 	margin-top: 60px;
}

#myCarousel .item {
  height: 400px;
}

#slide1 {
	background: url('../../images/carousel_medium_01.jpg') top center no-repeat;
}

#slide2 {
	background: url('../../images/carousel_medium_02.jpg') top center no-repeat;
}

#slide3 {
	background: url('../../images/carousel_medium_03.jpg') top center no-repeat;
}

#myCarousel.stick{
  margin-top: 20px;
}

/* --------------------------------------
   End of Carousel Styles
   -------------------------------------- */

/* --------------------------------------
   5.Global Styles
   -------------------------------------- */

.alert {
 	margin-top: 80px;
 	display: none;
}

.well {
 	margin: 20px 0;
}

/* --------------------------------------
   End of Global Styles
   -------------------------------------- */

/* --------------------------------------
  6.Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

#myCarousel .item {
  height: 310px;
}

#slide1 {
	background: url('../../images/carousel_small_01.jpg') top center no-repeat;
}

#slide2 {
	background: url('../../images/carousel_small_02.jpg') top center no-repeat;
}

#slide3 {
	background: url('../../images/carousel_small_03.jpg') top center no-repeat;
}

}

/* Large desktop */
@media (min-width: 1200px) {

#myCarousel .item {
  height: 500px;
 }

#slide1 {
	background: url('../../images/carousel_large_01.jpg') top center no-repeat;
}

#slide2 {
	background: url('../../images/carousel_large_02.jpg') top center no-repeat;
}

#slide3 {
  background: url('../../images/carousel_large_03.jpg') top center no-repeat;
}

#moredetails{
  height: 500px;
}

}

@media (max-width :1199px) and (min-width :768px) {

#moredetails{
  height: 400px;
}


/* --------------------------------------
  End of Media Queries
   -------------------------------------- */
